body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQSzITOs89oWEgzxLyXavoEZ-e7JGFqN-c7zMaWQAc9o0hZg2_7&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}
